*.pyc
*.zip
*.bag
**/.DS_Store
**/.vscode
**/.idea
**/data/IMG
**/CourseMaterials
##ignore Project-4 Data
**/beta_simulator_windows/*
**/CarND-Behavioral-Cloning/train_data/*
**/run1/*
**/run1/*
**/run2/*
**/events*
**/build/*
**/term2_sim_windows/*
**/log/lr_1E-0*
**/__pychace__/*
Term1/Work/Lesson14/MNIST_data/*
**/.ipynb_checkpoints/**
Term1/Work/tf-dev-summit-tensorboard-tutorial/*
Term2/term3_sim_windows/*
**/__MACOSX/*
Term2/System Integration_v1.3/*
Term2/CarND-Capstone/log/.ros/log/*
Term2/traffic_light_*
Term2/CarND-Capstone/dataset/data/*
Term2/CarND-Capstone/ros/src/tl_detector/light_classification/training/Images/*
Term2/CarND-Capstone/traffic_light_bag_file*
Term2/CarND-Capstone/ros/src/tl_detector/training/Images/*
Term2/TMP*
Term2/ros_log*
Term2/tfmodels/*
Term2/CarND-Capstone-master/*
Term2/CarND-Capstone/ros/src/tl_detector/light_classification/training/Traffic-Light-Detection.ipynb
Term2/CarND-Capstone/ros/src/tl_detector/light_classification/training/dataset/data/*
Term2/CarND-Capstone/ros/src/tl_detector/light_classification/training/TMP/*
